*.iml
/.idea
.DS_Store

*.xml

target/archive-tmp/fileSetFormatter.1242276187.tmp/

target/archive-tmp/fileSetFormatter.1393368615.tmp/

target/archive-tmp/fileSetFormatter.1789319860.tmp/

target/archive-tmp/fileSetFormatter.1812972952.tmp/

target/

hs_err_pid12278.log
